<div class="flex relative">
    <div class="flex-1 mx-auto max-w-7xl px-6 lg:px-8 pt-8 overflow-hidden">
        <div class="mx-auto max-w-2xl text-center mb-4">
            <h1 class="text-4xl font-bold text-white mb-2">{{ article()?.title }}</h1>
            <div class="flex items-center justify-center gap-x-4 text-gray-300">
                <time datetime="2023-01-01" class="text-sm">
                    Jan 1, 2023
                </time>
                <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 flex-none fill-white/50">
                    <circle cx="1" cy="1" r="1"></circle>
                </svg>
                <div class="flex gap-x-2.5 items-center text-sm">
                    <img src="assets/images/avatarDefaultImage.jpg"
                            alt="Author avatar" 
                            class="h-6 w-6 flex-none rounded-full bg-white/10">
                    Nombre del autor
                </div>
            </div>
        </div>

        <div class="mx-auto max-w-2xl lg:max-w-4xl">
            <img src="assets/images/articleDefaultImage.jpg"
                    alt="Article featured image" 
                    class="mb-8 rounded-2xl object-cover w-full h-96">

            <div class="prose prose-invert max-w-none">
                <p>Contenido del artículo aquí...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed sit amet feugiat
                    eros, eget eleifend dolor. Proin maximus bibendum felis, id fermentum odio vestibulum id. Sed ac
                    ligula eget dolor consequat tincidunt.</p>
                <p>Nullam fringilla ipsum et ex lacinia, at bibendum elit
                    posuere. Aliquam eget leo nec nibh mollis consectetur.</p>
            </div>
        </div>
    </div>
    <app-sidebar class="sticky top-0 h-screen border-l border-[--accent-silver] w-78"></app-sidebar>
</div>