
<header class="navigator bg-gray-900 sticky top-0 z-50 
              shadow-[0_4px_12px_rgba(0,0,0,0.3)] hover:shadow-[0_6px_16px_rgba(0,0,0,0.4)]
              transition-shadow duration-300">
    <nav class="container mx-auto px-4 py-3 md:py-2 flex justify-between items-center">

        <div class="md:hidden absolute left-1/2 transform -translate-x-1/2">
            <a routerLink="/" (click)="closeMobileMenu()" class="text-2xl font-bold text-white">
                <img class="w-[50px]" src="assets/images/logo.png" alt="logo">
            </a>
        </div>

        <button id="mobileMenuButton" 
                class="md:hidden text-gray-300 hover:text-white focus:outline-none order-first">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>

        <div class="hidden md:flex space-x-6 order-first">
            <a routerLink="/" class="text-2xl font-bold text-white">
                <img class="w-[70px]" src="assets/images/logo.png" alt="logo">
            </a>
            <a routerLink="/" class="text-2xl font-bold text-white">
                <img class="h-[30px] mt-3" src="assets/images/letrasLogo.png" alt="letrasLogo">
            </a>
        </div>

        <div class="hidden md:flex space-x-6 mx-auto">
            <a routerLink="/" class="nav-link text-gray-300 hover:text-white px-3 py-1">Inicio</a>
            <a href="#" class="nav-link text-gray-300 hover:text-white px-3 py-1">Historial</a>
            @if (!authService.isLogged() && !isLoginRoute()) {
                <a routerLink="/register" class="text-gray-300 hover:text-white px-3 py-1">Registro</a>
            }
        </div>

        @if (authService.isLogged()) {
            <div class="flex items-center space-x-4 order-last">
                <img 
                    [src]="authService.photo"
                    [appDefaultImage]="'assets/images/avatarDefaultImage.jpg'"
                    alt="Foto de perfil"
                    class="w-10 h-10 md:w-12 md:h-12 object-cover rounded-full border-2 border-gray-300 dark:border-gray-600 hover:cursor-pointer"
                />
                <span class="hidden md:inline text-gray-300 hover:text-white transition-colors duration-300">
                    {{authService.username}} ({{authService.role}})
                </span>
                <button (click)="logout()" 
                        class="hidden md:block btn-danger hover:bg-teal-800 text-white px-4 py-1 rounded-lg transition-colors">
                    Logout
                </button>
            </div>
        } @else if (!isLoginRoute()) {
            <div class="hidden md:flex items-center space-x-4 order-last">
                <a routerLink="/login" 
                   class="btn-primary hover:bg-teal-800 text-white px-4 py-1 rounded-lg transition-colors">
                    Login
                </a>
            </div>
        }

    </nav>

    <div id="mobileMenu" 
         class="md:hidden bg-[--sidebar-gray] absolute w-full left-0 shadow-lg transition-all duration-300 overflow-hidden max-h-0">
        <div class="container mx-auto px-4 py-2 space-y-2">
            <a routerLink="/" 
               (click)="closeMobileMenu()"
               class="block text-gray-300 hover:text-white py-2 transition-colors">
               Inicio
            </a>
            <a href="#" 
               (click)="closeMobileMenu()"
               class="block text-gray-300 hover:text-white py-2 transition-colors">
               Historial
            </a>
            
            @if (!authService.isLogged() && !isLoginRoute()) {
                <a routerLink="/register" 
                   (click)="closeMobileMenu()"
                   class="block text-gray-300 hover:text-white py-2 transition-colors">
                   Registro
                </a>
                <a routerLink="/login" 
                   (click)="closeMobileMenu()"
                   class="block btn-primary hover:bg-teal-800 text-white py-2 px-4 rounded text-center my-2 transition-colors">
                   Login
                </a>
            } @else if (authService.isLogged()) {
                <button (click)="logout()"
                        class="block btn-danger hover:bg-teal-800 text-white py-2 px-4 rounded w-full text-center my-2 transition-colors">
                    Logout
                </button>
            }
        </div>
    </div>
</header>